
{% extends 'layouts/default.njk' %}
{% block body %}
<div class="starter-template">
    <h4>Adicionar Orientação</h4>
    <hr />
    {% include 'partials/flash.njk' %}
   <form action="/app/orientacoes/new" method="post">
        <div class="form-group">
            <label for="tema">Tema da Orientação</label>
            <input type="text" name="tema" class="form-control" placeholder="Informe o tema da orientação" required />
        </div>

        <div class="form-group">
            <label for="aluno">Nome do Aluno</label>
            <input type="text" name="aluno" class="form-control" placeholder="Informe o nome do aluno" required />
        </div>

        <div class="form-group">
            <label for="professor">Nome do Professor</label>

            <select name="professor" class="form-control">
               {% for professor in professores %}
                <option value="{{professor._id}}">{{professor.nome}}</option>
               {% endfor %}
            </select>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Adicionar</button>
        </div>
    </form>
</div>
{% endblock %}